<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <form action="/search" method="get">
        <h4 class="mb-2">尋找球員：</h4>
        <div class="input-group">
          <input type="text" name="keyword" class="form-control" placeholder="輸入名字" aria-label="Player Name..."
            value="{{keyword}}" aria-describedby="search-button">
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>

      <!-- sort selector -->
      <div class="form-group">
        <form action="/sort/:sortBy" method="get">
          <a class="btn btn-major-custom d-inline-block ml-2" href="./players/new">新增球員<i
              class="fas fa-plus ml-2"></i></a>
          <button type="button" class="btn  dropdown-toggle custom-dropdown-btn" data-bs-toggle="dropdown"
            aria-expanded="false">
            選擇球員類別：
          </button>
          <ul class="dropdown-menu">
            {{#each sorts}}
            <li><a class="dropdown-item" href="/sort/{{this.sortBy}}">{{ this.sortName }}</a></li>
            {{/each}}
          </ul>
        </form>

      </div>
    </div>
  </div>

  <!-- player list -->
  <div class="container mt-5">
    <div class="row" id="data-panel">
      <div class="col-md-10 col-12 mx-auto">
        <div class="row row-cols-sm-3">
          {{#each players}}
          <div class="col-sm-3">
            <a href="/{{this.id}}" class="text-secondary">
              <div class="card mb-2">
                <img class="card-img-top" src="{{this.images.index}}" alt="{{ this.images.index }}">
                <div class="card-body player-item-body">
                  <h4 class="card-number">{{this.member_num}}</h4>
                  <h4 class="card-name">{{this.name}}</h4>
                </div>
                <div class="card-footer d-flex justify-content-end flex-wrap">
                  <a href="/players/{{this._id}}" class="btn btn-info ms-2">資料</a>
                  <a href="/players/{{this._id}}/edit" class="btn btn-info ms-2">編輯</a>
                  <form action="/players/{{this._id}}?_method=DELETE" method="POST" style="display: inline;">
                    <button class="btn btn-info  ms-2" type="submit">刪除</button>
                  </form>
                </div>
              </div>
            </a>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>